{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="">
    <div class="row justify-content-center mt-6">
        <div class="col-6 pl-4 pr-4 ">
            <form action="{{ path('forgottenPassword') }}" method="post">

                <h1 class="h3 mb-6 font-weight-normal text-align-center text-color-primary">Forgotten password form</h1>
                <label for="inputUuid" class="label">Enter your Personal ID to reset your password</label>
                <input type="text" name="uuid" id="inputUuid" class="form-control mt-4 mb-4" autocomplete="username" required autofocus>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% if error is defined %}
                    <div class="text-color-danger mt-2 mb-2">{{error}}</div>
                {% endif %}
                
                <div class="col-12 justify-content-center text-align-center">
                    <button class="btn btn-secondary" type="submit" name='forgottenPasswordBtn'>
                        Recover password request
                    </button>
                </div>
            </form>
        </div>

        <div class=" col-6">
        </div>
    </div>
</div>

{% endblock %}
