/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Form Control -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--dark-gray);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: var(--dark);
    background-color: var(--white);
    border-color: var(--gray);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--primary-rgba-5);
}

.select-form {
    padding: 0.55rem 0.75rem;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Table -- ::::::::::::::::::::::::::::::::::::::::::::::: */

table {
    caption-side: bottom;
    border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-hover-bg: var(--black-rgba-1);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--white);
    vertical-align: top;
    border-color: var(--secondary);
}

.table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--table-hover-bg);
}

.table> :not(:first-child) {
    border-top: 2px solid currentColor;
}

.table-hover>tbody>tr:hover>* {
    --table-hover-bg: var(--primary-rgba-5);
}

.table-responsive {
    overflow-x: auto;
}

.table-color-primary {
    --bs-table-bg: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.table-color-secondary {
    --bs-table-bg: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);
}

.table-color-tertiary {
    --bs-table-bg: var(--tertiary);
    color: var(--primary);
    border-color: var(--tertiary);
}

.table-color-quaternary {
    --bs-table-bg: var(--quaternary);
    color: var(--primary);
    border-color: var(--quaternary);
}

.table-color-quinary {
    --bs-table-bg: var(--quinary);
    color: var(--primary);
    border-color: var(--quinary);
}

.table-color-warning {
    --bs-table-bg: var(--warning);
    color: var(--white);
    border-color: var(--warning);
}

.table-color-danger {
    --bs-table-bg: var(--danger);
    color: var(--white);
    border-color: var(--danger);
}

.table-color-dark {
    --bs-table-bg: var(--dark);
    color: var(--white);
    border-color: var(--dark);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Button -- ::::::::::::::::::::::::::::::::::::::::::::::: */

button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- p -- ::::::::::::::::::::::::::::::::::::::::::::::: */

p {
    margin: 0;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    p {
        font-size: 12px;
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- a -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.link {
    text-decoration: none;
    color: var(--white);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- h -- ::::::::::::::::::::::::::::::::::::::::::::::: */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Textarea -- ::::::::::::::::::::::::::::::::::::::::::::::: */

textarea {
    resize: vertical;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Img -- ::::::::::::::::::::::::::::::::::::::::::::::: */

img {
    width: 100%;
}

@media (max-width: 768px) {
    img {
        width: 75%;
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Background Color -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.bg-color-primary {
    background-color: var(--primary);
}

.bg-color-danger {
    background-color: var(--danger);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Text Color -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.text-color-primary {
    color: var(--primary);
}

.text-color-white {
    color: var(--white);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Text Decoration -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.underline {
    text-decoration: underline;
}