/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Form Control -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--quaternary);
    background-clip: padding-box;
    border: none;
    border-bottom: 3px solid var(--secondary);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: var(--primary);
    background-color: var(--quaternary);
    border-color: var(--quinary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--primary-rgba-5);
}

.select-form {
    padding: 0.55rem 0.75rem;
}

.hidden-form {
    display: none;
}

.label {
    color: var(--primary-5);
    font-weight: 700;
    font-size: larger;
}

.btn {
    color: var(--quaternary);
    font-weight: 700;
}

.btn-quinary {
    background-color: var(--quinary);
    border: 3px solid var(--quinary);
    transition: all 200ms;
}

.btn-quinary:hover {
    background-color: var(--quinary-7);
}

.btn-secondary {
    background-color: var(--secondary);
    border: 3px solid var(--secondary);
    transition: all 200ms;
}

.btn-secondary:hover {
    background-color: var(--secondary-7);
}

.btn-danger {
    background-color: var(--danger);
    border: 3px solid var(--danger);
    transition: all 200ms;
}

.btn-danger:hover {
    background-color: var(--danger-7);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Table -- ::::::::::::::::::::::::::::::::::::::::::::::: */

table {
    caption-side: bottom;
    border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-hover-bg: var(--black-rgba-1);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--white);
    vertical-align: top;
    border-color: var(--secondary);
}

.table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--table-hover-bg);
}

.table> :not(:first-child) {
    border-top: 2px solid currentColor;
}

.table-hover>tbody>tr:hover>* {
    --table-hover-bg: var(--primary-5);
}

.table-responsive {
    overflow-x: auto;
}

.th-quaternary th {
    border-left: 1px solid var(--quaternary-1);
    border-right: 1px solid var(--quaternary-1);
}

.td-quaternary td {
    border-left: 1px solid var(--quaternary-1);
    border-right: 1px solid var(--quaternary-1);
}

.th-primary th {
    border-left: 1px solid var(--primary-1);
    border-right: 1px solid var(--primary-1);
    border-bottom: 1px solid var(--primary-1);
}

.td-primary td {
    border-left: 1px solid var(--primary-1);
    border-right: 1px solid var(--primary-1);
    border-bottom: 1px solid var(--primary-1);
}

.table-color-primary {
    --bs-table-bg: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.table-color-primary-7 {
    --bs-table-bg: var(--primary-7);
    color: var(--white);
    border-color: var(--primary-7);
}

.table-color-primary-6 {
    --bs-table-bg: var(--primary-6);
    color: var(--white);
    border-color: var(--primary-6);
}

.table-color-secondary {
    --bs-table-bg: var(--secondary);
    color: var(--white);
    border-color: var(--secondary);
}

.table-color-tertiary {
    --bs-table-bg: var(--tertiary);
    color: var(--primary);
    border-color: var(--tertiary);
}

.table-color-quaternary {
    --bs-table-bg: var(--quaternary);
    color: var(--primary);
    border-color: var(--quaternary);
}

.table-color-quinary {
    --bs-table-bg: var(--quinary);
    color: var(--primary);
    border-color: var(--quinary);
}

.table-color-warning {
    --bs-table-bg: var(--warning);
    color: var(--white);
    border-color: var(--warning);
}

.table-color-danger {
    --bs-table-bg: var(--danger);
    color: var(--white);
    border-color: var(--danger);
}

.table-color-dark {
    --bs-table-bg: var(--dark);
    color: var(--white);
    border-color: var(--dark);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Button -- ::::::::::::::::::::::::::::::::::::::::::::::: */

button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- p -- ::::::::::::::::::::::::::::::::::::::::::::::: */

p {
    margin: 0;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    p {
        font-size: 12px;
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- a -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.link {
    text-decoration: none;
    color: var(--white);
}

.text-decoration-none {
    text-decoration: none;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- h -- ::::::::::::::::::::::::::::::::::::::::::::::: */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Textarea -- ::::::::::::::::::::::::::::::::::::::::::::::: */

textarea {
    resize: vertical;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Img -- ::::::::::::::::::::::::::::::::::::::::::::::: */

img {
    width: 100%;
}

@media (max-width: 768px) {
    img {
        width: 75%;
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Background Color -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.bg-color-primary {
    background-color: var(--primary);
}

.bg-color-danger {
    background-color: var(--danger);
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Text Color -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.text-color-primary {
    color: var(--primary);
}

.text-color-primary5 {
    color: var(--primary-5);
}

.text-color-secondary {
    color: var(--secondary);
}

.text-color-quinary {
    color: var(--quinary);
}

.text-color-white {
    color: var(--white);
}

.text-color-quaternary {
    color: var(--quaternary);
}

.text-color-success {
    color: var(--success);
}

.text-color-warning {
    color: var(--warning);
}

.text-color-danger {
    color: var(--danger);
}

.text-size-10 {
    font-size: 10px;
}

.text-size-12 {
    font-size: 12px;
}

.text-size-11 {
    font-size: 14px;
}

.text-size-16 {
    font-size: 16px;
}

.text-size-18 {
    font-size: 18px;
}

.text-size-20 {
    font-size: 20px;
}

.text-size-25 {
    font-size: 25px;
}

.text-size-30 {
    font-size: 30px;
}

.text-size-35 {
    font-size: 35px;
}

.text-bold {
    font-weight: bold;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: -- Text Decoration -- ::::::::::::::::::::::::::::::::::::::::::::::: */

.underline {
    text-decoration: underline;
}