:root {
    --white: #fff;
    --black: #000;
    --light-gray: #dddddd;
    --gray: #b9b9b9;
    --dark-gray: #222;

    --primary: #a78e49;
    --secondary: #444;
    --success: #00bc8c;
    --info: #3498db;
    --warning: #f39c12;
    --danger: #e74c3c;
    --light: #adb5bd;
    --dark: #303030;

    --transparent: rgba(255, 255, 255, 0);

    --white-rgba-1: rgba(255, 255, 255, 0.1);
    --white-rgba-5: rgba(255, 255, 255, 0.5);
    --black-rgba-1: rgba(0, 0, 0, 0.1);
    --black-rgba-2: rgba(0, 0, 0, 0.2);
    --black-rgba-5: rgba(0, 0, 0, 0.5);
    --black-rgba-7: rgba(0, 0, 0, 0.7);
    --black-rgba-8: rgba(0, 0, 0, 0.8);
    
    --primary-rgba-2: rgba(167, 142, 73, 0.2);
    --primary-rgba-4: rgba(167, 142, 73, 0.4);
    --primary-rgba-5: rgba(167, 142, 73, 0.5);
    --secondary-rgba-4: rgba(68, 68, 68, 0.4);
  }