:root {
    --white: #fff;
    --black: #000;
    --light-gray: #dddddd;
    --gray: #b9b9b9;
    --dark-gray: #222;
    --success: #00bc8c;
    --info: #3498db;
    --warning: #f39c12;
    --danger: #e74c3c;
    --light: #adb5bd;
    --dark: #303030;
    --transparent: rgba(255, 255, 255, 0);
    --white-rgba-1: rgba(255, 255, 255, 0.1);
    --white-rgba-5: rgba(255, 255, 255, 0.5);
    --black-rgba-1: rgba(0, 0, 0, 0.1);
    --black-rgba-2: rgba(0, 0, 0, 0.2);
    --black-rgba-5: rgba(0, 0, 0, 0.5);
    --black-rgba-7: rgba(0, 0, 0, 0.7);
    --black-rgba-8: rgba(0, 0, 0, 0.8);
    /* --- idée 1 --- */
    /*
    --primary: #D3C378;
    --secondary: #866121;
    --tertiary: #857149;
    --quaternary: #321D09;
    --quinary: #040201;

    --primary-2: rgba(211, 195, 12, 0.2);
    --primary-4: rgba(211, 195, 12, 0.4);
    --primary-5: rgba(211, 195, 12, 0.5);
    --primary-7: rgba(211, 195, 12, 0.7);
    --secondary-2: rgba(134, 97, 33, 0.2);
    --secondary-4: rgba(134, 97, 33, 0.4);
    --secondary-5: rgba(134, 97, 33, 0.5);
    --secondary-7: rgba(134, 97, 33, 0.7);
    --tertiary-2: rgba(133, 113, 73, 0.2);
    --tertiary-4: rgba(133, 113, 73, 0.4);
    --tertiary-5: rgba(133, 113, 73, 0.5);
    --tertiary-7: rgba(133, 113, 73, 0.7);
    --quaternary-2: rgba(50, 29, 9, 0.2);
    --quaternary-4: rgba(50, 29, 9, 0.4);
    --quaternary-5: rgba(50, 29, 9, 0.5);
    --quaternary-7: rgba(50, 29, 9, 0.7);
    --quinary-2: rgba(4, 2, 1, 0.2);
    --quinary-4: rgba(4, 2, 1, 0.4);
    --quinary-5: rgba(4, 2, 1, 0.5);
    --quinary-7: rgba(4, 2, 1, 0.7);
*/
    /* --- idée 2 --- */
    /*
    --primary: #495e1b;
    --secondary: #d3d16a;
    --tertiary: #f0e7e2;
    --quaternary: #d6d8e5;
    --quinary: #a6a3b8;
    --primary-2: rgba(211, 195, 12, 0.2);
    --primary-4: rgba(211, 195, 12, 0.4);
    --primary-5: rgba(211, 195, 12, 0.5);
    --primary-7: rgba(211, 195, 12, 0.7);
    --secondary-2: rgba(134, 97, 33, 0.2);
    --secondary-4: rgba(134, 97, 33, 0.4);
    --secondary-5: rgba(134, 97, 33, 0.5);
    --secondary-7: rgba(134, 97, 33, 0.7);
    --tertiary-2: rgba(133, 113, 73, 0.2);
    --tertiary-4: rgba(133, 113, 73, 0.4);
    --tertiary-5: rgba(133, 113, 73, 0.5);
    --tertiary-7: rgba(133, 113, 73, 0.7);
    --quaternary-2: rgba(50, 29, 9, 0.2);
    --quaternary-4: rgba(50, 29, 9, 0.4);
    --quaternary-5: rgba(50, 29, 9, 0.5);
    --quaternary-7: rgba(50, 29, 9, 0.7);
    --quinary-2: rgba(4, 2, 1, 0.2);
    --quinary-4: rgba(4, 2, 1, 0.4);
    --quinary-5: rgba(4, 2, 1, 0.5);
    --quinary-7: rgba(4, 2, 1, 0.7);
    --secondary-rgba-4: rgba(68, 68, 68, 0.4);
    */
    /* --- idée 3 --- */
    --primary: #113f59;
    --secondary: #34788f;
    --tertiary: #d4e0cc;
    --quaternary: #dadbdd;
    --quinary: #d8c788;
    --success: #1bc429;
    --warning: #cfa200;
    --danger: #ac0707;
    --primary-1: rgba(17, 63, 89, 0.1);
    --primary-2: rgba(17, 63, 89, 0.2);
    --primary-4: rgba(17, 63, 89, 0.4);
    --primary-5: rgba(17, 63, 89, 0.5);
    --primary-6: rgba(17, 63, 89, 0.6);
    --primary-7: rgba(17, 63, 89, 0.7);
    --secondary-2: rgba(52, 120, 143, 0.2);
    --secondary-4: rgba(52, 120, 143, 0.4);
    --secondary-5: rgba(52, 120, 143, 0.5);
    --secondary-7: rgba(52, 120, 143, 0.7);
    --secondary-9: rgba(52, 120, 143, 0.9);
    --tertiary-2: rgba(212, 224, 204, 0.2);
    --tertiary-4: rgba(212, 224, 204, 0.4);
    --tertiary-5: rgba(212, 224, 204, 0.5);
    --tertiary-7: rgba(212, 224, 204, 0.7);
    --tertiary-9: rgba(212, 224, 204, 0.9);
    --quaternary-1: rgba(218, 219, 221, 0.1);
    --quaternary-2: rgba(218, 219, 221, 0.2);
    --quaternary-4: rgba(218, 219, 221, 0.4);
    --quaternary-5: rgba(218, 219, 221, 0.5);
    --quaternary-7: rgba(218, 219, 221, 0.7);
    --quaternary-9: rgba(218, 219, 221, 0.9);
    --quinary-2: rgba(216, 199, 136, 0.2);
    --quinary-4: rgba(216, 199, 136, 0.4);
    --quinary-5: rgba(216, 199, 136, 0.5);
    --quinary-7: rgba(216, 199, 136, 0.7);
    --quinary-9: rgba(216, 199, 136, 0.9);
    --danger-2: rgba(172, 7, 7, 0.2);
    --danger-4: rgba(172, 7, 7, 0.4);
    --danger-5: rgba(172, 7, 7, 0.5);
    --danger-7: rgba(172, 7, 7, 0.7);
    --danger-9: rgba(172, 7, 7, 0.9);
    --secondary-rgba-4: rgba(68, 68, 68, 0.4);
    /* --- idée 4 --- */
    /*
    --primary: #263771;
    --secondary: #708bbc;
    --tertiary: #aabcd4;
    --quaternary: #050716;
    --quinary: #010103;
    --primary-2: rgba(17, 63, 89, 0.2);
    --primary-4: rgba(17, 63, 89, 0.4);
    --primary-5: rgba(17, 63, 89, 0.5);
    --primary-7: rgba(17, 63, 89, 0.7);
    --secondary-2: rgba(52, 120, 143, 0.2);
    --secondary-4: rgba(52, 120, 143, 0.4);
    --secondary-5: rgba(52, 120, 143, 0.5);
    --secondary-7: rgba(52, 120, 143, 0.7);
    --tertiary-2: rgba(212, 224, 204, 0.2);
    --tertiary-4: rgba(212, 224, 204, 0.4);
    --tertiary-5: rgba(212, 224, 204, 0.5);
    --tertiary-7: rgba(212, 224, 204, 0.7);
    --quaternary-2: rgba(218, 219, 221, 0.2);
    --quaternary-4: rgba(218, 219, 221, 0.4);
    --quaternary-5: rgba(218, 219, 221, 0.5);
    --quaternary-7: rgba(218, 219, 221, 0.7);
    --quinary-2: rgba(216, 199, 136, 0.2);
    --quinary-4: rgba(216, 199, 136, 0.4);
    --quinary-5: rgba(216, 199, 136, 0.5);
    --quinary-7: rgba(216, 199, 136, 0.7);
    --secondary-rgba-4: rgba(68, 68, 68, 0.4);
    */
    /* --- idée 5 --- */
    /*
    --primary: #8da9aa;
    --secondary: #1e3e50;
    --tertiary: #6695a3;
    --quaternary: #0b1011;
    --quinary: #03060d;
    --primary-2: rgba(17, 63, 89, 0.2);
    --primary-4: rgba(17, 63, 89, 0.4);
    --primary-5: rgba(17, 63, 89, 0.5);
    --primary-7: rgba(17, 63, 89, 0.7);
    --secondary-2: rgba(52, 120, 143, 0.2);
    --secondary-4: rgba(52, 120, 143, 0.4);
    --secondary-5: rgba(52, 120, 143, 0.5);
    --secondary-7: rgba(52, 120, 143, 0.7);
    --tertiary-2: rgba(212, 224, 204, 0.2);
    --tertiary-4: rgba(212, 224, 204, 0.4);
    --tertiary-5: rgba(212, 224, 204, 0.5);
    --tertiary-7: rgba(212, 224, 204, 0.7);
    --quaternary-2: rgba(218, 219, 221, 0.2);
    --quaternary-4: rgba(218, 219, 221, 0.4);
    --quaternary-5: rgba(218, 219, 221, 0.5);
    --quaternary-7: rgba(218, 219, 221, 0.7);
    --quinary-2: rgba(216, 199, 136, 0.2);
    --quinary-4: rgba(216, 199, 136, 0.4);
    --quinary-5: rgba(216, 199, 136, 0.5);
    --quinary-7: rgba(216, 199, 136, 0.7);
    --secondary-rgba-4: rgba(68, 68, 68, 0.4);
    */
}