{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block body %}
<div class="row justify-content-center text-align-center mb-6">
    <div class="paysageTop" style='background-image: url("{{file_directory}}img/paysage.jpg");'>
    <p>Cards</p>
    </div>
</div>
<div class="row justify-content-center text-align-center mt-6">
    <div class="col-8">
    </div>
</div>
{% endblock %}
