{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="row justify-content-center text-align-center text-color-primary mt-6">
    <div class="col">
        {% if message is defined %}
            <h1>{{message}}</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
